;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:game
  {:target :browser
   :modules {:main {:init-fn blockland.main/init}}
   :devtools
   {:http-root "public"
    :http-port 8080}}}}
