;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:game
  {:target :browser
   :modules {:main {:entries []}
             :game {:init-fn blockland.main/init
                    :depends-on #{:main}}
             :worker {:entries [blockland.worker]
                      :depends-on #{:main}
                      :web-worker true}}
   :devtools
   {:http-root "public"
    :http-port 8080}}}}
